.row-fluid.fixed-top.banner
  爱喝水

.row.icon_bar.icon_bar_first
  .col-sm-3.col-md-3.text-center
    .icon.icon_active
      .icon_upper
        乐百氏
      .icon_lower
        矿泉水
      .icon_cross
        X
  .col-sm-3.col-md-3.text-center
    .icon
      .icon_upper
        乐百氏
      .icon_lower
        矿泉水
      .icon_cross
        -
  .col-sm-3.col-md-3.pull-right.text-center
    .icon
      = link_to "选择品牌", "", :class => ""

.row.title.text-right
  最多只选3种， 只做真水
.row.icon_bar
  .col-sm-3.col-md-3.text-center
    .icon
      .icon_upper
        乐百氏
      .icon_lower
        矿泉水
      .icon_cross
        X
  .col-sm-3.col-md-3.text-center
    .icon
      .icon_upper
        乐百氏
      .icon_lower
        矿泉水
      .icon_cross
        X
  .col-sm-3.col-md-3.pull-right.text-center
    .icon
      = link_to "选择水券", "", :class => ""
.row.title.text-right
  选试喝券，免费上门送水

.row.address_bar
  电话
  %span
    13699236168
  地址
  %span
    太月园1号楼1108
.row.title.text-right
  27分钟极速达，延误就免单

.row-fluid.fixed-bottom.footer
  .col-sm-6.col-md-6
  .col-sm-6.col-md-6.text-center
    = link_to "送水上门", "", :role => "button", :class => "btn place_order_btn"
