.coupons.index_page
  .container
    .row
      %ul.list-group.xcm-list-group
        - @coupons.each do |b|
          %li.list-group-item
            .xcm_item_name_and_desc
              .xcm_item_name
                = b.name
              .xcm_item_desc

            .xcm_actions.pull-right
              -#%a{:role => "button", :class => "btn btn-default popup", "data-remote-url" => edit_admin_lb_coupon_path(b) }= "修改品牌"

            .clearfix



